.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  min-height: 100vmin;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Lato";
}
