.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  min-height: 100vmin;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Lato";
}

.header::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}

.title {
  font-size: 1.5rem;
  margin-left: 3rem;
  place-self: flex-start;
}

@media screen and (max-width: 600px) {
  .title {
    margin-left: 0;
    place-self: center;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  width: 75vw;
}
@media screen and (max-width: 600px) {
  .page-container {
    align-items: center;
  }
}

.icon {
  height: 10vw;
  width: 10vw;
  min-height: 20px;
  min-width: 20px;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#projectSVG {
  transform: rotate(180deg);
}

svg {
  cursor: pointer;
}
